html {
  font-size: 10px;
  height: 100%;
  overflow-x: hidden;
}


*, :after, :before {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 835px) {
  * {
    cursor: none !important;
  }
}

img {
  max-width: 100%;
  height: auto;
}

picture {
  line-height: 0;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button,
a {
  cursor: pointer;

}

input {
  outline: none;
}

.max-width-full {
  max-width: 1470px;
}

.container-fluid-full {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
}

.d-none {
  display: none;
}


