.site-header__fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    z-index: 11;
    height: 81px;
    align-items: center;

    & > div{
        display: flex;
        height: 100%;
    }
}

.site-header__wrapper {
    //margin-top: 58px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;



    @media (max-width: 850px) {
        height: 82px;
    }
    @media (max-width: 500px) {
        height: 82px;
        padding-top: 38px;
    }
}

.site-header__wrapper__logo, .mob-menu__wrapper__logo {


    .custom-logo-link{
        max-width: 140px;
        height: auto;
        img {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
        }

    }

    a {
        display: block;
        line-height: 0;
    }
}

.site-header__wrapper__mobile {
    display: block;
    width: 20px;
    height: 2px;
    background: #000000;
    position: relative;
    cursor: pointer;

    &:before, &:after {
        position: absolute;
        content: '';
        width: 20px;
        height: 2px;
        background: #000000;
        bottom: -8px;
    }

    &:after {
        bottom: initial;
        top: -8px;
    }

    @media (min-width: 850px) {
        display: none;
    }
}

.site-header__wrapper__menu {
    margin-right: 10px;


    @media (max-width: 850px) {
        display: none;
    }

    ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        li {
            margin-right: 48px;

            &:last-of-type {
                margin-right: 0;
            }

            a {
                color: #000000;
                line-height: 17px;
                transition: .3s linear;
                font-weight: 400;
                font-size: 1.4rem;
                &:hover{
                    color: #7A717E;
                }
            }
            &.current-menu-item{
                a{
                    color: #7A717E;
                }
            }


            @media (max-width: 1050px) {
                margin-right: 22px;

                &:last-of-type {
                    margin-right: 0;
                }
            }
            @media (max-width: 900px) {
                margin-right: 12px;

                &:last-of-type {
                    margin-right: 0;
                }
            }

            &.menu-item-has-children{
                position: relative;

                &:after{
                    position: absolute;
                    display: block;
                    content: '';
                    width: 11px;
                    height: 6px;
                    background-image: url("../../dest/images/arrow-down.svg");
                    right: -15px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 100%;
                }

                ul{
                    pointer-events: none;
                    background: rgba(146, 158, 170, 0.6);
                    padding: 10px;
                    left: -15px;
                    opacity: 0;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    width: max-content;

                    li{
                        margin: 0 0 5px 0;

                    }
                }

                &:hover{
                    ul{
                        opacity: 1;
                        pointer-events: unset;
                        transition: opacity .7s;
                    }
                }
            }
        }
    }
}


.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    z-index: 25;
    transform: translateX(100%);
    transition: .3s linear;

    &.open {
        transform: translateX(0);
    }
}

.mob-menu__wrapper {
    height: 100%;
    flex-direction: column;
    padding-top: 0;
    justify-content: flex-start;
    max-height: 100%;
    overflow: hidden;
}

.mob-menu__wrapper__head {
    height: 82px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 38px 20px 0 20px;
}

.mob-menu__wrapper__mobile {
    display: block;
    width: 14px;
    height: 14px;
    position: relative;
    cursor: pointer;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url("../../dest/images/close_menu.svg") center / contain no-repeat;
    }
}

.mob-menu__wrapper__body {
    padding: 0 20px;
    margin-top: 17px;
    max-height: 100%;
    overflow: auto;

    .mob-menu__wrapper__menu {
        padding: 55px 0;
        border-top: 1px solid #28413C;
        border-bottom: 1px solid #28413C;

        ul {
            li {
                margin-bottom: 10px;

                &:last-of-type {
                    margin-bottom: 0;
                }

                a {
                    font-weight: 400;
                    font-size: 2.4rem;
                    line-height: 28px;
                    color: #000;
                    transition: .3s linear;

                    &:hover, &:active {
                        color: #929eaa;
                    }
                }

                &.menu-item-has-children{
                    ul{
                        padding-left: 10px;
                        li{
                            margin-bottom: 0;
                            a{
                                font-size: 1.4rem;

                            }
                        }
                    }
                }
            }
        }
    }
}

.mob-menu__wrapper__form {
    margin-top: 60px;

    h5 {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        margin: 0 0 15px;
        @media (max-width: 500px) {
            max-width: 322px;
        }
    }

    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
        margin: 0 0 25px;
        @media (max-width: 500px) {
            max-width: 322px;
        }

    }

    a.mob_btn {
        @media (max-width: 500px) {
            width: 100%;
            max-width: 322px;
            margin: 0 auto;
        }
    }
}